/*Shared in content*/
.content-section {
  width: 100vw;
  display: grid;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: var(--space-bigger);
  padding-bottom: var(--space-bigger);
}

.content-section h2 {
  margin: 0;
  padding: var(--space-medium);
}

#projects h3 {
  padding-left: var(--space-medium);
}

.content-section p {
  margin: 0;
  padding: var(--space-medium);
}

/*Hero*/
#hero {
  background-image: radial-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(255, 255, 255, 0.1)
    ),
    url("../assets/photos/home-picture.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}

#hero-text {
  color: white;
  text-align: center;
  padding: 0;
  margin: var(--space-medium);
}

/*About me*/
#about {
  background-color: white;
}
#about img {
  width: 60%;
  border-radius: 8px;
}

#about-image {
  display: grid;
  justify-items: center;
  align-content: center;
}

/*Projects*/
#projects img {
  width: 130px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  padding: 0;
}

.overlayed img {
  opacity: 0.6;
}

.overlay-text {
  display: flex;
  position: absolute;
  margin-top: 20px;
}

.overlay-text p {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  z-index: 900;
}

#projects h3 {
  margin-bottom: var(--space-small);
  margin: 0;
}

#projects {
  background: var(--color-light-pink);
  color: var(--color-very-dark-purple);
}

#projects-section {
  padding: var(--space-medium);
  display: grid;
  text-align: left;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--space-small);
  grid-row-gap: var(--space-small);
}

/*Technologies*/
#tech {
  background-color: white;
  color: var(--color-very-dark-purple);
}

.tech-card {
  margin: var(--space-medium);
}

.tech-card img {
  height: 44px;
  width: auto;
}

.tech-card h3 {
  margin: 0;
  padding: 0;
}

#grid-technologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
}

/*Contact me*/
#contact {
  width: 100vw;
  background-color: var(--color-light-pink);
  display: grid;
  justify-content: center;
}

#contact a{
  padding: var(--space-medium);
}

#contact-item a{
  padding: 0;
  text-decoration: none;
}

.content-section ul {
  margin: var(--space-medium);
  padding: 0;
  list-style: none;
}

#contact img {
  width: 24px;
  margin-right: var(--space-small);
}

.content-section li {
  margin-bottom: var(--space-small);
}

#contact a {
  display: flex;
  align-items: center;
  color: var(--color-very-dark-purple);
}

/*Tablet queries*/
@media (min-width: 550px) {
  .content-grid {
    max-width: 550px;
  }

  #projects-section {
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
  }

  #grid-technologies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
  }

  #about img {
    width: 60%;
  }
}

/*Desktop queries*/
@media (min-width: 992px) {
  .content-grid {
    max-width: 750px;
  }

  .content-section {
    padding-top: 0;
  }

  .content-section h2 {
    margin-top: 90px;
  }

  .content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  #hero h1 {
    max-width: 700px;
  }
  #hero {
    justify-content: center;
  }

  #about img {
    width: 80%;
  }
}
