/*Shared in content*/
.content-left {
  align-items: flex-start;
}

.content-right {
  align-items: center;
}

.content-section {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.content-section h2 {
  margin-top: 60px;
  margin-right: var(--space-medium);
  margin-left: var(--space-medium);
  margin-bottom: var(--space-big);
  text-align: left;
  padding: 0;
}

/*Hero*/
#hero {
  background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(255,255,255,0.1)), url("../assets/photos/home-picture.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}

#hero-text {
  color: white;
  text-align: center;
  padding: 0;
  margin: var(--space-medium);
}

/*About me*/
#about {
  background: white;
  color: var(--color-very-dark-purple);
  margin-bottom: 60px;
}

#about img {
  width: 80%;
  padding: var(--space-small);
}

#about-image {
  display: grid;
  justify-items: center;
}

/*Projects*/
#projects img {
  width: 130px;
  height: auto;
  border-radius: 8px;
  padding: 0;
}

.overlayed img {
  opacity: 0.6;
}

.overlay-text {
  display: flex;
  position: absolute;
  margin-top: 20px;
}

.overlay-text p {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  z-index: 900;
}

#projects h3 {
  margin-bottom: var(--space-small);
  margin: 0;
}

#projects {
  background: var(--color-light-pink);
  color: var(--color-very-dark-purple);
}

.projects-section {
  padding: var(--space-medium);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--space-small);
  grid-row-gap: var(--space-small);
  margin-bottom: 60px;
}

/*Technologies*/
#tech {
  background: white;
  color: var(--color-very-dark-purple);
  margin-bottom: 60px;
}

.tech-card {
  margin: var(--space-medium);
}

.tech-card img {
  height: 44px;
  width: auto;
}

.tech-card h3 {
  margin: 0;
  padding: 0;
}

.grid-technologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

/*Contact me*/
.contact-section {
  display: grid;
  justify-content: center;
  margin-bottom: var(--space-big);
  margin-bottom: 60px;
}

.contact-section ul {
  margin: var(--space-medium);
  padding: 0;
  list-style: none;
}

#contact {
  min-height: 100%;
  background: var(--color-light-pink);

  width: 100%;
}

#contact img {
  width: 24px;
  margin-right: var(--space-small);
}

.contact-section li {
  margin-bottom: var(--space-small);
}

.contact-section {
  color: var(--color-very-dark-purple);
}

#contact a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--color-very-dark-purple);
}

/*Tablet queries*/
@media (min-width: 550px) {
  .projects-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-technologies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }

  #about img {
    width: 60%;
  }

}

/*Desktop queries*/
@media (min-width: 750px) {
  .content-section h2 {
    margin-top: 90px;
  }

  .content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 750px;
  }

  #hero h1 {
    max-width: 700px;
  }
  #hero {
    justify-content: center;
  }

  #about img {
    width: 100%;
  }

}
