#hero{
    height: 100vh;
    background: pink;
    display: inline-block;
    width: 100%;

}

#about{
    height: 100vh;
    background: yellow;
    display: inline-block;
    width: 100%
}



#projects{
    height: 100vh;
    background: purple;
    display: inline-block;
    width: 100%
}

#tech{
    height: 100vh;
    background: blue;
    display: inline-block;
    width: 100%
}

#contact{
    height: 100vh;
    background: red;
    display: grid;
    align-items: flex-end;
    width: 100%
}