.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
}

.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

#modal-img {
  width: 300px;
  height: 200px;
}

#modal-popup img {
  max-width: 100%;
  max-height: 100%;
}

#modal-popup {
  max-width: 300px;
}

#modal-popup p {
  margin: var(--space-small);
}

#modal-popup h2 {
  margin-left: var(--space-small);
}

.pills {
  border: 1px solid var(--color-dusty-pink);
  box-sizing: border-box;
  border-radius: 12px;
  margin: 2px;
  padding: 5px;
}

#modal-popup h2 {
  color: var(--color-very-dark-purple);
}

#modal-popup p {
  color: var(--color-very-dark-purple);
}

#technologies-list {
  max-width: 270px;
  list-style: none;
  align-items: center;
  text-align: center;
  padding-left: var(--space-small);
  padding-right: var(--space-small);
  display: flex;
  flex-flow: wrap;
}

.buttons a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.buttons button {
  margin-right: var(--space-small);
  margin-left: var(--space-small);
  margin-bottom: 3px;
  padding: var(--space-small);
  border: 2px solid var(--color-very-dark-purple);
}

.buttons {
  margin-bottom: var(--space-medium);
}

.purple-button a {
  color: white;
}

.white-button a {
  color: var(--color-very-dark-purple);
}

#modal-popup .buttons {
  display: grid;
}

.purple-button {
  background-color: var(--color-very-dark-purple);
}

.white-button {
  background-color: white;
}

.corner-button button {
  margin: var(--space-small);
  color: var(--color-very-dark-purple);
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  left: 85%;
  border: 2px solid white;
  background-color: white;
}

#technologies-list {
  color: var(--color-dark-purple);
}

/*Tablet queries*/
@media (min-width: 550px) {
  #modal-popup {
    min-width: 520px;
    display: grid;
  }
  #modal-img {
    min-width: 520px;
    min-height: 350px;
  }
  #modal-popup img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .corner-button button {
    left: 91%;
  }
}

/*Desktop queries*/
@media (min-width: 992px) {
  #modal-popup {
    min-width: 900px;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  #modal-img {
    min-width: 500px;
    min-height: 100%;
  }

  #modal-popup img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .corner-button button {
    font-size: 22px;
    left: 95%;
  }
}
