.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: var(--space-small);
    z-index: 1000;
}

.overlay-modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

#modal-popup img{
    width: 250px;  
    height: auto;
}

#modal-popup{
    max-width: 250px; 
}

#modal-popup p{
    margin: var(--space-small);

}

.pills{
    border: 1px solid #524B53;
    box-sizing: border-box;
    border-radius: 100px;
    margin: 2px;
    padding: 2px;
}

#technologies-list{
    max-width: 270px;
    list-style: none;
    align-items: center;
    text-align: center;
    padding-left: var(--space-small);
    padding-right: var(--space-small);
    display: flex;
    flex-flow: wrap;
}