nav {
  width: 100vw;
  height: 70px;
  background: var(--color-dark-purple);
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
}

.navigation ul {
  list-style: none;
  align-items: center;
  text-align: center;
  padding: 0;
  width: 100vw;
  height: 20px;
  display: flex;
  justify-content: center;
}

.navigation li {
  display: flex;
  justify-items: center;
}

.navigation img {
  width: 50px;
  height: auto;
}

.navigation a {
  font-size: 14px;
  font-weight: thin;
  margin-right: var(--space-small);
  margin-left: var(--space-small);
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

@media (min-width: 750px) {
  .navigation a {
    font-size: 18px;
    margin-right: var(--space-big);
    margin-left: var(--space-big);
  }

}
