html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

/* Mobile */
h1{
    font-size: 34px;
    font-weight: normal;
    line-height: 41px;
    margin-top: 50px;
    margin-right: var(--space-medium);
    margin-left: var(--space-medium);
    margin-bottom: 0;
    text-align: left;
    padding: 0;
}

h2{
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
}

h3{
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
}

p{
    font-size: 17px;
    font-weight: normal;
    line-height: 22px;
    margin-right: var(--space-medium);
    margin-left: var(--space-medium);
    margin-bottom: 0;
}

/* Shared with Nav and Footer*/ 
ul{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
}

li{
    display: flex;
    justify-items: center;
}

a{
    font-size: 14px;
    font-weight: thin;
    margin-right: var(--space-small);
    margin-left: var(--space-small);
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/*Nav*/
nav{
    width: 100vw;
    height: 50px;
    background: var(--color-dusty-pink);
    overflow: hidden;
    position: fixed;
}

.navigation img{
    width: 40px;
    height: auto;
    margin-top: 0;
}

.navigation ul{
    background-color: var(--color-dark-purple);
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: center;
}

/*Footer*/
footer{
    width: 100%;
    background: var(--color-dusty-pink);
    overflow: hidden;
    bottom: 0;
    display: grid;
    justify-items: center;
}

.footer p{
    margin: var(--space-medium);
    color: white;
}
