:root {
  --space-smaller: 4px;
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 24px;
  --space-bigger: 48px;
  --color-light-pink: #f0ecf0;
  --color-dusty-pink: #ab9eac;
  --color-dark-purple: #524b53;
  --color-very-dark-purple: #2e1e2f;
}
